.cart-btn {
    padding: 4px 8px;
    font-size: 12px;
    background-color: black;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.cart-btn:hover {
    background-color: #333;
}